<h1 id='head'><%=@post.title%></h1>
<%=link_to 'New', new_post_path%>
<%=link_to 'Edit', edit_post_path%>
<%=link_to 'Home', posts_path%>

<div id='content'>
<p>



<%=@post.content.html_safe%>


</p>
</div>





